<div class="header">
    <img src="Pagina%20SITO%20Creative%201.png" alt="logo">
</div>
<div class="subHeader">
    <a class="boxImg" href="https://www.catworkagency.com/" target="_blank">
        <img src="Pagina%20SITO%20Creative%202.png" alt="logo">
    </a>
    <a class="boxImg" href="https://www.catworkacademy.com/" target="_blank">
        <img style="margin-top: -25px;" src="Pagina%20SITO%20Creative%203.png" alt="logo">
    </a>
    <div class="boxImg">
        <img src="Pagina%20SITO%20Creative%204.png" alt="logo">
    </div>
</div>
