.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 200px;
  margin-top: 50px;

  > img {
    height: auto;
    max-width: 70%;
  }
}

.subHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-Around;

  .boxImg {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    > img {
      height: auto;
      max-width: 50%;
    }
  }
}
